<section class='container col-md-4'>

<div class="panel panel-default">
  <div class="panel-heading"><h3><%= post.title %></h3>
  Taken at <span id='location'><%= link_to post.address, post_map_path(post) %></span>
   by <span id='username'><%= link_to User.find(post.user_id).username,  edit_user_post_path(post)%></span>
  </div>
  <div class="panel-body">
    <% if post.picture.present? %>
	  <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
	<% end %>
  </div>
  <div class="panel-footer">

	<% post.tags.each do |tag| %>
	  <%= link_to tag.text, tag %>
	<% end %>
  </div>
</div>

</section>