<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
    
 		<title>Latergram</title>
  </head>

  <body>

 <% if user_signed_in? %>
	 <header class="container">
		<nav class="header">
			<ul class="nav nav-pills pull-right">
				<li class="active"> <%= link_to 'Home', root_path %></li>
				<li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
			</ul>
			<h3 class="text-muted">Latergram</h3>
		</nav>
	</header>
<% else %>
	<header class="container">
		<nav class="header">
			<ul class="nav nav-pills pull-right">
				<li> <%= link_to 'Home', root_path %></li>
				<li> <%= link_to 'Sign in', new_user_session_path %></li>
			</ul>
			<h3 class="text-muted">Latergram</h3>
		</nav>
	</header>
<% end %>

      <div class="jumbotron">
        <h1>The number one photo sharing site</h1>
        <p class="lead">Why post now when you can post later</p>
        <p> <%= link_to 'Sign up today', new_user_registration_path, class:"btn btn-lg btn-success", role:"button" %></p>
      </div>
		 	<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

      <%= yield %>

      <div class="footer">
      
      </div>
     
    </div> 

  </body>
</html>


<%= link_to(new_post_path, class: 'new-post') do %>
<span class="glyphicon glyphicon-camera"></span>
New Post
<% end %>
